@import 'settings';
@import 'foundation-emails';

/* Zurab */

figure{
	margin: 20px 0;
}

ol,ul{
	list-style: none;
}

.phones{

}

.bg-gray{
	background-color: #f7f7f7;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
}

.fz13{
	font-size: 13px;
	line-height: 1.2;
}

/* prices */

.prices tr > th {
	font-size: 12px;
	line-height: 1.2;
}

.prices tr > td {
	font-size: 9px;
	line-height: 1.2;

	strong{
		display: block;
	}
}

